body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /*  The browser it's just like anything else. It grows with the size of it's content.  */
    min-height: 100vh;
}

.card {
    width: 90%;
    max-width: 800px;
    background-color: #111d4a;
    color: #fff;

    display: flex;
    flex-direction: column;

}

/* We have a bug when we use flex-basis on an image. Seems like it only happens on chrome. Use min-height and min-width set to zero. 

Leave the image inside a container would solve this problem too.
*/
.card-img {
    object-fit: cover;
    flex-basis: 200px;
    min-width: 0;   /* This becouse BUG */
    min-height: 0;  /* This becouse BUG */
    background-color: gold;
}

.card-content {
    padding: 1em;
}

.card-title,
.card-read-time,
.card-btn {
    font-family: 'Blinker', sans-serif;
}

.card-title {
    margin: 0;
    color: #05cbe9;
    font-size: 1.75rem; /* 28 / 16 */
}

.card-body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
}

.card-footer {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-read-time {
    margin: 0;
    opacity: .6;
    line-height: 1;
    
}

.card-read-time span {
    font-size: 1.5em;
    font-weight: 700;
    display: block;
}

.card-btn {
    padding: .35em 1em;
    font-size: 1.25rem;
    background-color: #05CBE9;
    color: #111d4a;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: transform 150ms;
}

.card-btn:focus, 
.card-btn:hover {
    transform: scale(1.04);
}


@media (min-width: 600px) {
    .card {
        flex-direction: row;
    }

    .card-img {
        height: 300px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
    }

    .card-title {
        font-size: 2.25rem;
    }

    .card-body {
        font-size: 1.125rem;
        max-width: 500px;
    }

    .card-footer {
        margin-top: auto;
    }
}
